*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1280px;
    margin: auto;
}
.nav-parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-img {
    width: 140px;
    margin-top: 10px;
}
.menu{
    font-size: 30px;
    margin-right: 20px;
}
.hero-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.hero-contant {
    width: 600px;
}
.hero-contant h1 {
    margin-bottom: 10px;
}
.hero-contant p {
    margin-bottom: 10px;
    line-height: 20px;
}
.hero-contant h2 {
    margin-bottom: 16px;
    color: #FF136F;
}
.hero-btn button {
    padding: 8px 30px;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 6px;
     background-image: linear-gradient(#FF589B, #FF2E80, #FF136F);
}
.hero-img {
    width: 400px;
    margin-right: 100px;
}
.hero-img img {
    width: 100%;
}
/* catagory section code hare  */

.heading h2 {
    margin-top: 98px;
    margin-bottom: 50px;
}
.catagory-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 98px;
}
.catagory-box h4 {
    color: aliceblue;
    font-size: 30px;
}
.bag-box h4 {
    color: aliceblue;
    font-size: 30px;
}
.shoe-box h4 {
    color: aliceblue;
    font-size: 30px;
}
.catagory-box {
    display: flex;
     justify-content: space-between;
     align-items: center;
     width: 400px;
     background-color: #FF9C35;
     padding: 10px 50px;
     border-radius: 10px;
    
}
.bag-box {
    display: flex;
     justify-content: space-between;
     align-items: center;
     width: 400px;
     background-color: #FF136F;
     padding: 10px 50px;
     border-radius: 10px;
    
}
.shoe-box {
    display: flex;
     justify-content: space-between;
     align-items: center;
     width: 400px;
     background-color: #3F07F8;
     padding: 10px 50px;
     border-radius: 10px;
    
}
/* ..............................  */
/* thirtd section code hare  */

.card-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-box {
    width: 350px;
    margin-bottom: 98px;
    /* border: 1px solid red; */
    text-align: center;
    padding: 30px 10px;
    border-radius: 7px;
    box-shadow: 3px 3px 5px grey;
}
.card-box h4 {
    margin-bottom: 10px;
}
.card-box p {
    margin-bottom: 10px;
}
.card-box h2 {
    margin-bottom: 10px;
}
.box-btn button {
    background-color: black;
    padding: 6px 15px;
    color: aliceblue;
    cursor: pointer;
    border-radius: 7px;
}
/* ...............................   */
/* furth section code hare  */
.foter {
    margin-bottom: 100px;
    background-color: #FFF2F1;
    padding: 146px 246px;
    text-align: center;
    position: relative;
}
.foter-contant p {
    margin-bottom: 20px;
}
.input {
    /* padding: 8px 100px;  */
    color: #FF136F;
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border: none;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
   
}
.btn {
    background-color: #FF136F;
    border: none;
    padding: 10px 20px;
    border-bottom-right-radius:6px ;
   border-top-right-radius: 6px;
   margin-right: 10px;
   color: #FFF2F1;
   position: absolute;
   left: 802px;
   top: 206px;
    
}